script var version=!{versionJson};var assets="!{assetPath}";var token="[[.Token]]";var wait=[[.Wait]];var timeout=[[.Timeout]];var baseURL="[[.BaseURL]]";!{polyfillScript}
script(src=assetPath + 'js/_framework.' + version + '.min.js')
script(src=assetPath + 'js/_app.' + version + '.min.js')
