.columns
  .column.is-3
  .column.is-6
    p !{i18n.pleaseEnterOtp}
.columns(data-ng-controller="OTPChallenge")
  .column.is-3
  .column.is-6

    if i18n.customMessageOTP
      .notification.is-info
        p !{i18n.customMessageOTP}

    form(name="main" novalidate)
      fieldset(data-ng-disabled="loading")
        .notification.is-danger(data-ng-show="errors['invalid-otp']")
          p(data-ng-show="errors['invalid-otp']")=i18n.invalidOTP

        .field
          .control
            input.input.is-large(
              name="otp"
              pattern="[0-9]{6}"
              inputmode="numeric"
              required
              data-ng-class="{ 'is-danger': main.otp.$touched && main.otp.$invalid, 'is-success': main.otp.$touched && main.otp.$valid }"
              dir="ltr" type='text' placeholder=i18n.otp data-ng-model="otp"
            )

        .field.is-grouped.is-grouped-centered
          .control
            button(data-ng-disabled="main.$invalid" data-ng-click="submit()").button.is-large.is-success=value=i18n.submit
