.columns
  .column.is-3
  .column.is-6
    p !{i18n.pleaseEnterCaptcha}
.columns(data-ng-controller="CaptchaChallenge")
  .column.is-3
  .column.is-6

    if i18n.customMessageCaptcha
      .notification.is-info
        p !{i18n.customMessageCaptcha}


    form(name="main" novalidate)
      fieldset(data-ng-disabled="loading")
        .notification.is-danger(data-ng-show="errors['invalid-captcha']")
          p(data-ng-show="errors['invalid-captcha']")=i18n.invalidCaptchaCode

        .field
          .control
            figure.image.is-3by1
              img(src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-ng-src="{{ captchaImage }}" alt=i18n.captcha)

        .field.is-grouped
          .control.is-expanded
            input.input.is-large(
              name="captcha"
              data-ng-model="captchaValue"
              pattern="[0-9]{6}"
              inputmode="numeric"
              required
              data-ng-class="{ 'is-danger': main.captcha.$touched && main.captcha.$invalid, 'is-success': main.captcha.$touched && main.captcha.$valid }"
              dir="ltr" type='text' placeholder=i18n.captcha
            )
          .control
            input(type="submit" value=i18n.updateCaptchaImage data-ng-click="getTokenChallenge();").button.is-primary.is-large

        .field.is-grouped.is-grouped-centered
          .control
            button(data-ng-disabled="main.$invalid" data-ng-click="submit()").button.is-large.is-success=value=i18n.submit
